<div class="container">
  <h1>Herza Aplikasi Test</h1>

  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body main-panel">

      <div class="search-results" infiniteScroll (scrolled)="onScrollDown($event)"
        [infiniteScrollContainer]="'.main-panel'" [fromRoot]="true" [infiniteScrollDistance]="0.5"
        [infiniteScrollThrottle]="50">

        <div class="list-group">
          <a class="list-group-item list-group-item-action" *ngFor="let item of listArray; let i = index">
            <mat-card class="example-card">
              <mat-card-title-group>
                <mat-card-title>{{ item.title }}</mat-card-title>
                <mat-card-subtitle>{{ item.brand }}</mat-card-subtitle>
                <img mat-card-sm-image [src]="item.thumbnail">
              </mat-card-title-group>
              <mat-card-content class="mt-2">
                <ol class="list-group list-group-numbered mb-2">
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{ convertToCurrenct(item.price) }}</div>
                      {{ item.description }}
                    </div>
                    <span class="badge bg-primary rounded-pill d-flex align-items-center">
                      <mat-icon style="font-size: 14px !important; height: 14px !important;">star</mat-icon> {{
                      item.rating }}
                    </span>
                  </li>
                </ol>
                <div class="d-flex justify-content-end">
                  <a (click)="deleteItem(i)" class="btn btn-primary">Delete</a>
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>